{% extends 'base.html' %}


{% block title  %}
<div class="container">
      <div class="text" style="text-align : center;">
          Welcome, K-Weather
          </div>
    </div>
<style>
        .text
{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
}
</style>
{% endblock  %}

{% block main_body  %}
<div style="text-align : center;">
<img src="{{ url_for('static', filename='2021-06-weather.jpeg') }}" height="700" width="900" align="center">
</div>
{% endblock  %}

    

